.advantages__list {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.advantages__item {
  margin: -2px;
  padding: 0;
}

.advantages__wrap-city {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: start;
    align-items: center;
  }
}

.advantages__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages__image {
  width: 100%;
}

.advantages__item--flex {
  margin-top: -6px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -6px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.advantages__wrap {
  display: flex;

  @media (max-width: $mobile-width-only) {
    flex-direction: column-reverse;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
