.advantages__list {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.advantages__item {
  margin: -2px;
  padding: 0;
}

.advantages__wrap-city {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: start;
    align-items: center;
  }
}

.advantages__image {
  width: 100%;
}

.advantage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.advantage__image {
  background-image: url("/img/main-index/top-hause.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 54px 30px 21px 30px;

  @media (min-width: $tablet-width) {
    background-image: url("/img/main-index/tablet-hause.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 258px;
    height: 256px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    height: 256px;
  }
}

.advantage__icon {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  margin-left: 68px;
  margin-top: 12px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 105px;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 50px;
  }
}

.advantage__icon2 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  margin-left: 67px;
  margin-top: -2px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 105px;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 56px;
  }
}

.advantage__icon3 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  margin-left: 66px;
  margin-top: -2px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 97px;
    padding-bottom: 45px;
  }
}

.advantage__icon-house {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    left: -48px;
    top: 14px;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 77px;
    height: 72px;
    top: 60px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 80px;
    height: 73px;
    top: 69px;
  }
}

.advantage__icon-burger {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    left: -47px;
    top: 12px;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 57px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 72px;
  }
}

.advantage__icon-gift {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    left: -43px;
    top: 13px;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 67px;
    height: 75px;
    top: 59px;
    left: 95px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 95px;
    height: 80px;
    top: 65px;
    left: 150px;
  }
}

.advantage--without-image {
  background-color: #eeeeee;
  color: #000000;
  width: 100%;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    padding-top: 5px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 14px;
    padding-bottom: 28px;
  }
}

.advantage--without-image-botomm {
  background-color: #eeeeee;
  color: #000000;
  width: 100%;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    padding-top: 6px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    padding-bottom: 35px;
  }
}

.advantage--without-image3 {
  background-color: #eeeeee;
  color: #000000;
  width: 100%;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    padding-top: 7px;
    padding-bottom: 8px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 14px;
    padding-bottom: 28px;
  }
}

.advantages__wrap {
  display: flex;

  @media (max-width: $mobile-width-only) {
    flex-direction: column-reverse;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.advantages__item--flex {
  margin-top: -6px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -6px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.advantage__bridge {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #81b3d2;
  color: #ffffff;
  width: 100%;
  margin-top: 32px;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    background-image: url("/img/main-index/tablet-hause.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 256px;
    height: 256px;
    padding: 0;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    height: 256px;
  }
}

.advantage__bridge-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.advantages__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

