.advantage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.advantage__image {
  background-image: url("/img/main-index/top-hause.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 54px 30px 21px 30px;

  @media (min-width: $tablet-width) {
    background-image: url("/img/main-index/tablet-hause.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 258px;
    height: 256px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    height: 256px;
  }
}

.advantage__title {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 10px;

  .tablet {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 52px;
    margin-bottom: 14px;
    padding: 0;


    .tablet {
      display: block;
    }

    .mobile {
      display: none;
    }
  }
}

.advantage__description {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 17px;

  .tablet {
    display: none;
  }

  .desktop {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 20px;

    .tablet {
      display: block;
    }

    .mobile {
      display: none;
    }

    .mobile-bridge {
      display: none;
    }

    .desktop {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    .tablet {
      display: none;
    }

    .mobile {
      display: block;
    }

    .mobile-bridge {
      display: none;
    }

    .desktop {
      display: block;
    }
  }
}

.advantage--icon {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  margin-left: 68px;
  margin-top: 12px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 105px;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 50px;
  }
}

.advantage__icon-house {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    left: -48px;
    top: 14px;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 77px;
    height: 72px;
    top: 60px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 80px;
    height: 73px;
    top: 69px;
  }
}

.advantage__icon-title {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 10px;

  .tablet {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 52px;
    margin-bottom: 14px;
    padding: 0;


    .tablet {
      display: block;
    }

    .mobile {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 65px;
    margin-bottom: 14px;
  }
}

.advantage__icon-text {
  margin: 0;
  color: #333333;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  padding-top: 6px;
  padding-bottom: 15px;

  .tablet {
    display: none;
  }

  .desktop {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    text-align: center;

    .tablet {
      display: block;
    }

    .mobile {
      display: none;
    }

    .desktop {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    .tablet {
      display: none;
    }

    .mobile {
      display: none;
    }

    .desktop {
      display: block;
    }
  }
}

.advantage--icon2 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  margin-left: 67px;
  margin-top: -2px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 105px;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 56px;
  }
}

.advantage__icon-burger {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    left: -47px;
    top: 12px;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 57px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 72px;
  }
}

.advantage__icon2-title {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 10px;

  .tablet {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 52px;
    margin-bottom: 14px;
    padding: 0;


    .tablet {
      display: block;
    }

    .mobile {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 65px;
    margin-bottom: 14px;
  }
}

.advantage__icon2-text {
  margin: 0;
  color: #333333;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  padding-top: 6px;
  padding-bottom: 15px;

  .tablet {
    display: none;
  }

  .desktop {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    text-align: center;

    .tablet {
      display: block;
    }

    .mobile {
      display: none;
    }

    .desktop {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    .tablet {
      display: none;
    }

    .mobile {
      display: none;
    }

    .desktop {
      display: block;
    }
  }
}

.advantage--icon3 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  margin-left: 66px;
  margin-top: -2px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 97px;
    padding-bottom: 45px;
  }
}

.advantage__icon-gift {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    left: -43px;
    top: 13px;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 67px;
    height: 75px;
    top: 59px;
    left: 95px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 95px;
    height: 80px;
    top: 65px;
    left: 150px;
  }
}

.advantage__icon3-title {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 10px;

  .tablet {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 52px;
    margin-bottom: 14px;
    padding: 0;


    .tablet {
      display: block;
    }

    .mobile {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 70px;
    margin-bottom: 14px;
  }
}

.advantage__icon3-text {
  margin: 0;
  color: #333333;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  padding-top: 6px;
  padding-bottom: 15px;

  .tablet {
    display: none;
  }

  .desktop {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    text-align: center;

    .tablet {
      display: block;
    }

    .mobile {
      display: none;
    }

    .desktop {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    .tablet {
      display: none;
    }

    .mobile {
      display: none;
    }

    .desktop {
      display: block;
    }
  }
}

.advantage__bridge {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #81b3d2;
  color: #ffffff;
  width: 100%;
  margin-top: 32px;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    background-image: url("/img/main-index/tablet-hause.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 256px;
    height: 256px;
    padding: 0;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    height: 256px;
  }
}

.advantage__bridge-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.advantage__bridge-title {
  margin: 0;
  margin-top: 19px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 10px;

  .tablet {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 0;

    .tablet {
      display: block;
    }

    .mobile {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 3px;
  }
}

.advantage__bridge-description {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 17px;

  .tablet {
    display: none;
  }

  .desktop {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-top: 20px;

    .tablet {
      display: block;
    }

    .mobile {
      display: none;
    }

    .mobile-bridge {
      display: none;
    }

    .desktop {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    .tablet {
      display: none;
    }

    .mobile {
      display: block;
    }

    .mobile-bridge {
      display: none;
    }

    .desktop {
      display: block;
    }
  }
}

.advantage__bridge-description1 {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-top: 15px;
  }
}

.advantage--without-image {
  background-color: #eeeeee;
  color: #000000;
  width: 100%;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    padding-top: 5px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 14px;
    padding-bottom: 28px;
  }
}

.advantage__text-color {
  margin: 0;
  color: #333333;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;

  .tablet {
    display: none;
  }

  .desktop {
    display: none;
  }

  @media (min-width: $tablet-width) {
    text-align: center;

    .tablet {
      display: block;
    }

    .mobile {
      display: none;
    }

    .desktop {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    .tablet {
      display: none;
    }

    .mobile {
      display: none;
    }

    .desktop {
      display: block;
    }
  }
}

.advantage--without-image-botomm {
  background-color: #eeeeee;
  color: #000000;
  width: 100%;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    padding-top: 6px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    padding-bottom: 35px;
  }
}

.advantage__title-botomm {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 10px;

  .tablet {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 24px;
    margin-bottom: 16px;
    padding: 0;


    .tablet {
      display: block;
    }

    .mobile {
      display: none;
    }
  }
}

.advantage--without-image3 {
  background-color: #eeeeee;
  color: #000000;
  width: 100%;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    padding-top: 7px;
    padding-bottom: 8px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 14px;
    padding-bottom: 28px;
  }
}
