.advantages__list {
  list-style-type: none;
}

.advantage {
  background-color: #81b3d2;
  color: #ffffff;
}

.advantage--icon {
  background-color: #ffffff;
  color: #000000;
}

.advantage--without-image {
  background-color: #eeeeee;
  color: #000000;
}
