.appointment {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  width: 100%;
}

.appointment__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appointment__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 38px 0 0 0;
}

.appointment__title {
  margin: 0;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 17.7px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 21px;
  padding-top: 3px;

  @media (min-width: $tablet-width) {
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 25.5px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 33px;
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 33px;
    padding-top: 20px;
  }
}

.appointment__description {
  margin: 0;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 12.5px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 30px;

  .tablet {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;

    .mobile {
      display: none;
    }

    .tablet {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 45px;
  }
}

.appointment__button {
  padding: 16px 49px 16px 49px;
  background-color: #81b3d2;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18.6px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 15px 137px 17px 137px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 17px;
  }
}

.appointment__button:hover {
  background-color: #669ec0;
}

.appointment__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.appointment__button:disabled {
  background-color: #e5e5e5;
}

