.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 33px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-left: 8px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    margin-left: -10px;
  }
}

.contacts__site {
  text-decoration: none;
}

.contacts__site-text {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.contacts__site-text:hover {
  color: #81b3d2;
}

.contacts__site-text:active {
  color: rgba(0, 0, 0, 0.3);
}
