.contacts-info__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-info__title {
  margin: 0;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
  padding-top: 15px;
  padding-left: 30px;

  @media (min-width: $tablet-width) {
    margin-left: -46px;
    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 10px;
  }
}

.contacts-info__form-label {
  margin: 0;
  padding-left: 20px;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.contacts-info__field {
  margin-bottom: 16px;
  padding: 16px 0 16px 16px;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.3);
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: none;

  @media (min-width: $desktop-width) {
    width: 344px;
    padding-right: 0;
  }
}

.contacts-info__button {
  margin-bottom: 16px;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
