.copyright {
  margin: 0;
  padding: 0 0 22px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-right: 10px;
  }
}

.copyright__text {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.copyright__text:hover {
  color: #81b3d2;
}

.copyright__text:active {
  color: #b3b3b3;
}

.copyright__link {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-right: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.main-footer__logo-image {
  position: absolute;
  right: 0;
  color: #000000;
}

.main-footer__logo-image:hover {
  color: #81b3d2;
}

.main-footer__logo-image:active {
  color: #b3b3b3;
}
