.copyright {
  margin: 0;
  padding: 0 0 22px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.copyright__text {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 12.5px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.copyright__text:hover {
  color: #81b3d2;
}

.copyright__text:active {
  color: #b3b3b3;
}

.copyright__link {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-right: 40px;
  padding-top: 8px;
  padding-bottom: 8px;

  @media (min-width: $tablet-width) {
    margin-right: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 10px;
  }
}

.copyright__html-academy {
  position: absolute;
  right: 2px;
  color: #000000;
}

.copyright__html-academy:hover {
  color: #81b3d2;
}

.copyright__html-academy:active {
  color: rgba(179, 179, 179, 1);
}
