.feedback__form {
  margin: 0;
  padding: 0;
}

.feedback__form-grop {
  margin: 0;
  padding: 0 10px 23px 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: none;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    border: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-right: 1px solid #d8d8d8;
    margin: 0;
    margin-left: 60px;
    width: 280px;
    padding: 0;
    padding-right: 43px;
  }

  @media (min-width: $desktop-width) {
    border: none;
    border-right: 1px solid #d8d8d8;
    margin: 0;
    margin-left: 120px;
    width: 430px;
    padding: 0;
    padding-right: 60px;
  }
}

.contacts-info__form-telephone {
  margin: 0;
  padding: 0 10px 18px 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: none;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-right: 60px;
    margin-top: -95px;
    width: 298px;
  }

  @media (min-width: $desktop-width) {
    border: none;
    margin: 0;
    padding: 0;
    margin-right: 110px;
    margin-top: -95px;
    width: 430px;
  }
}

.feedback__wrap {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
