.feedback {
  overflow: hidden;
  background-color: #ffffff;
}

.feedback__form {
  margin: 0;
  padding: 0;
}

.feedback__form-grop {
  margin: 0;
  padding: 0 10px 23px 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: none;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    border: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-right: 1px solid #d8d8d8;
    margin: 0;
    margin-left: 60px;
    width: 280px;
    padding: 0;
    padding-right: 43px;
  }

  @media (min-width: $desktop-width) {
    border: none;
    border-right: 1px solid #d8d8d8;
    margin: 0;
    margin-left: 120px;
    width: 430px;
    padding: 0;
    padding-right: 60px;
  }
}

.feedback__title {
  margin: 0;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
  padding-left: 83px;
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin: 0;
    padding: 0;
    padding-left: 82px;
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    margin: 0;
    padding: 0;
    padding-left: 165px;
    margin-bottom: 28px;
  }
}

.feedback__form-label {
  margin: 0;
  padding-left: 27px;
  color: #333333;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 15px;
    margin-bottom: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: 15px;
    margin-bottom: 0;
    padding: 0;
  }
}

.feedback__field {
  margin-bottom: 16px;
  margin-left: 10px;
  padding: 16px 55px 16px 16px;
  background-color: #f2f2f2;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: none;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 16px 16px 16px 16px;
    margin-bottom: 17px;
    width: 248px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 16px 16px 16px 16px;
    margin-bottom: 17px;
    width: 400px;
  }
}

.feedback__field:hover {
  background-color: #e5e5e5;
}

.feedback__field:active {
  background-color: #ffffff;
  border: 4px solid #e5e5e5;
}

.feedback__wrap {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
