.gallery__list {
  list-style-type: none;
}

.gallery__title {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.gallery__description {
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.gallery__text {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
