.hero {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
}

.hero__image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 389px;
  z-index: 1;
}

.hero__image {
  display: flex;
  width: 320px;
  object-fit: cover;
}

.hero__image-bottom {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 70px;
  background-image: url("/source/img/main-index/hero-bottom.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.hero__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 16px 16px 18px;
  background-color: #ffffff;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 48px 124px 55px 124px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 59px 345px 44px 345px;
  }
}
