.feedback {
  background-color: #ffffff;
}

.main-inner__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.main-inner__image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.main-inner__image {
  display: flex;
  width: 100%;
  object-fit: cover;
}
