.main-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
}

.main-header__logo--mobile {
  height: 96px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-header__logo-image {
  width: 185px;
  height: 96px;
}
