.main-inner__wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 195px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-top: 2px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 2px;
  }
}

.main-inner__title {
  margin: 0;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 15.5px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    font-size: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 52px;
    margin-bottom: 8px;
  }
}

.main-inner__description {
  margin: 0;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 12.5px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 26px;

  .tablet {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 95px;
    text-align: center;

    .tablet {
      display: block;
    }

    .mobile {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 57px;
  }
}
