.main-catalog__title {
  margin: 0;
  padding-bottom: 25px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-top: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 37px;
  }
}

.main-catalog__description {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 37px;

  .tablet {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-top: 5px;
    margin-bottom: 82px;
    padding: 0;

    .tablet {
      display: block;
    }

    .mobile {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;
  }
}

.main-catalog__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
}

.main-catalog__image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 158px;
  z-index: 1;
  background: url("/img/catalog/sedona-catalog-bottom.png"), url("/img/catalog/sedona-catalog.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, 0 100%;

  @media (min-resolution: 2dppx) {
    background: url("/img/catalog/sedona-catalog-bottom.png"), url("/img/catalog/sedona-catalog-2x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom center, 0 100%;
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    height: 290px;
    background: url("/img/catalog/sedona-catalog-bottom-tablet.png"), url("/img/catalog/sedona-catalog-tablet.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom center, 0 100%;

    @media (min-resolution: 2dppx) {
      background: url("/img/catalog/sedona-catalog-bottom-tablet.png"), url("/img/catalog/sedona-catalog-tablet-2x.jpg");
      background-repeat: no-repeat, no-repeat;
      background-position: bottom center, 0 100%;
      background-size: 768px auto;
    }
  }

  @media (min-width: $desktop-width) {
    height: 301px;
    background: url("/img/catalog/sedona-catalog-bottom-desktop.png"), url("/img/catalog/sedona-catalog-desktop.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom center, 0 100%;

    @media (min-resolution: 2dppx) {
      background: url("/img/catalog/sedona-catalog-bottom-desktop.png"), url("/img/catalog/sedona-catalog-desktop-2x.jpg");
      background-repeat: no-repeat, no-repeat;
      background-position: bottom center, 0 100%;
      background-size: 1200px auto;
    }
  }
}

.main-catalog__image {
  display: flex;
  margin-top: 52px;
  width: 229px;
  object-fit: contain;

  @media (min-width: $tablet-width) {
    width: 457px;
    height: 518px;
    margin-top: -125px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -120px;
  }
}

.main-catalog__wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 37px;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    border: none;
    margin-top: 0;
    padding-top: 62px;
  }
}

