.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 56px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 56px;
  }
}

.site-list__link {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.site-list__item {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 56px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 56px;
  }
}

.main-header__logo--tablet {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
