.main-catalog__title {
  margin: 0;
  padding-bottom: 25px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 15.5px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 27px;
    margin-top: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 37px;
  }
}

.main-catalog__description {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-weight: 400;
  font-size: 12.5px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 37px;

  .tablet {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-top: 5px;
    margin-bottom: 82px;
    padding: 0;

    .tablet {
      display: block;
    }

    .mobile {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;
  }
}

.main-catalog__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-catalog__image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.main-catalog__image {
  position: absolute;
  top: -56px;
  left: 0;
  width: 100%;
  object-fit: cover;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    position: relative;
    object-fit: cover;
    margin-bottom: 0;
  }
}

.main-catalog__wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 195px;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    border: none;
    margin-top: 0;
  }
}

