.main-footer {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
  color: #000000;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 36px;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
