.page {
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
}

.page__body {
  margin: 0;
  min-height: 100%;
  background: #ffffff url("/img/header/mobile-background.jpg") no-repeat center top;
  color: #000000;

  @media (min-width: $tablet-width) {
    background: #ffffff url("/img/header/tablet-background.jpg") no-repeat center top;
  }

  @media (min-width: $desktop-width) {
    background: #ffffff url("/img/header/desktop-background.jpg") no-repeat center top;
  }
}

.page__body-layout {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
}
