.radio {
  @media (min-width: $tablet-width) {
    width: 648px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    margin: auto;
  }
}

.radio__list {
  @media (max-width: $mobile-width-only) {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0;
    padding: 0 20px 24px 40px;
    list-style-type: none;
    border-bottom: 1px solid #e5e5e5;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 18px 70px 28px 70px;
    list-style-type: none;
    border: none;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 18px 80px 28px 80px;
    list-style-type: none;
    border: none;
    width: 100%;
  }
}

.radio__form-label--left {
  @media (min-width: $tablet-width) {
    margin-left: -25px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.radio__title {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin: 0;
    margin-top: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 28px;
  }
}

.radio__field {
  margin-bottom: 16px;
}

.radio__label {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.radio__wrap {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 960px;
  }
}

.radio__left {
  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 60px;
    margin-top: 45px;
    border-bottom: 1px solid #d8d8d8;
    padding-left: 123px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-right: 60px;
    margin-top: 17px;
    border-bottom: 1px solid #d8d8d8;
    padding-left: 280px;
  }
}

.radio__right {
  @media (min-width: $tablet-width) {
    margin: 0;
    border-bottom: 1px solid #d8d8d8;
    padding-right: 123px;
    margin-left: 60px;
    margin-top: 45px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    border-bottom: 1px solid #d8d8d8;
    padding-right: 280px;
    margin-left: 60px;
    margin-top: 17px;
  }
}

.radio__item {
  margin-left: 50px;
  margin-bottom: 26px;
  margin-top: 20px;
}

.radio__item:nth-child(3) {
  margin-bottom: 0;
}

.radio__form-label {
  position: relative;
  display: block;
  cursor: pointer;
}

.radio__mark {
  position: absolute;
  bottom: -10px;
  left: -70px;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 50%;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
  }
}

.radio__field[type="radio"]:checked + .radio__mark {
  background-image: url("/source/img/form/radio.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:active {
    background-image: url("/source/img/form/radio-active.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
