.radio {
  @media (min-width: $tablet-width) {
    width: 648px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    margin: auto;
  }
}

.radio__list {
  @media (max-width: $mobile-width-only) {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0;
    padding: 0 20px 24px 40px;
    list-style-type: none;
    border-bottom: 1px solid #e5e5e5;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 18px 70px 28px 70px;
    list-style-type: none;
    border: none;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 18px 80px 28px 80px;
    list-style-type: none;
    border: none;
    width: 100%;
  }
}

.radio__form-label--left {
  @media (min-width: $tablet-width) {
    margin-left: -25px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.radio__title {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin: 0;
    margin-top: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 28px;
  }
}

.radio__field {
  margin-bottom: 16px;
}

.radio__label {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
