.social__list {
  list-style-type: none;
}

.social__link {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
