@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/source/fonts/ptsans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/source/fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src: url("/source/fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src: url("/source/fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
.advantage__title {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 35px;
  padding-bottom: 11px;
}
.advantage__title .tablet {
  display: none;
}
@media (min-width: 768px) {
  .advantage__title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 0;
    padding-bottom: 20px;
  }
  .advantage__title .tablet {
    display: block;
  }
  .advantage__title .mobile {
    display: none;
  }
}

.advantage__description {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 17px;
}
.advantage__description .tablet {
  display: none;
}
.advantage__description .desktop {
  display: none;
}
@media (min-width: 768px) {
  .advantage__description .tablet {
    display: block;
  }
  .advantage__description .mobile {
    display: none;
  }
  .advantage__description .mobile-bridge {
    display: none;
  }
  .advantage__description .desktop {
    display: none;
  }
}
@media (min-width: 1200px) {
  .advantage__description .tablet {
    display: none;
  }
  .advantage__description .mobile {
    display: block;
  }
  .advantage__description .mobile-bridge {
    display: none;
  }
  .advantage__description .desktop {
    display: block;
  }
}

.advantage__text {
  margin: 0;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  padding-top: 6px;
  padding-bottom: 15px;
}
.advantage__text .tablet {
  display: none;
}
.advantage__text .desktop {
  display: none;
}
@media (min-width: 768px) {
  .advantage__text {
    text-align: center;
  }
  .advantage__text .tablet {
    display: block;
  }
  .advantage__text .mobile {
    display: none;
  }
  .advantage__text .desktop {
    display: none;
  }
}
@media (min-width: 1200px) {
  .advantage__text .tablet {
    display: none;
  }
  .advantage__text .mobile {
    display: none;
  }
  .advantage__text .desktop {
    display: block;
  }
}

.advantage__text-color {
  margin: 0;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.advantage__text-color .tablet {
  display: none;
}
.advantage__text-color .desktop {
  display: none;
}
@media (min-width: 768px) {
  .advantage__text-color {
    text-align: center;
  }
  .advantage__text-color .tablet {
    display: block;
  }
  .advantage__text-color .mobile {
    display: none;
  }
  .advantage__text-color .desktop {
    display: none;
  }
}
@media (min-width: 1200px) {
  .advantage__text-color .tablet {
    display: none;
  }
  .advantage__text-color .mobile {
    display: none;
  }
  .advantage__text-color .desktop {
    display: block;
  }
}

.advantages__list {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.advantages__item {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .advantages__wrap-city {
    display: flex;
    justify-content: start;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .advantages__wrap-city {
    display: flex;
    justify-content: start;
    align-items: center;
  }
}

.advantages__image {
  width: 100%;
}

.advantage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.advantage__image {
  background-image: url("/source/img/main-index/top-hause.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 54px 30px 27px 30px;
}
@media (min-width: 768px) {
  .advantage__image {
    background-image: url("/source/img/main-index/tablet-hause.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 52px 33px 20px 33px;
  }
}
@media (min-width: 1200px) {
  .advantage__image {
    padding: 45px 69px 35px 69px;
  }
}

.advantage--icon {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  margin-left: 65px;
}
@media (min-width: 768px) {
  .advantage--icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 158px 33px 60px 33px;
  }
}
@media (min-width: 1200px) {
  .advantage--icon {
    padding: 169px 50px 69px 50px;
  }
}

@media (max-width: 767px) {
  .advantage__icon-house {
    position: absolute;
    left: -45px;
    top: 25px;
  }
}
@media (min-width: 768px) {
  .advantage__icon-house {
    position: absolute;
    width: 77px;
    height: 72px;
    top: 60px;
  }
}
@media (min-width: 1200px) {
  .advantage__icon-house {
    position: absolute;
    width: 80px;
    height: 73px;
    top: 69px;
  }
}

@media (max-width: 767px) {
  .advantage__icon-burger {
    position: absolute;
    left: -45px;
    top: 25px;
  }
}
@media (min-width: 768px) {
  .advantage__icon-burger {
    position: absolute;
    width: 80px;
    height: 67px;
    top: 62px;
  }
}
@media (min-width: 1200px) {
  .advantage__icon-burger {
    position: absolute;
    width: 73px;
    height: 68px;
    top: 72px;
  }
}

@media (max-width: 767px) {
  .advantage__icon-gift {
    position: absolute;
    left: -45px;
    top: 25px;
  }
}
@media (min-width: 768px) {
  .advantage__icon-gift {
    position: absolute;
    width: 80px;
    height: 67px;
    top: 64px;
  }
}
@media (min-width: 1200px) {
  .advantage__icon-gift {
    position: absolute;
    width: 78px;
    height: 75px;
    top: 69px;
  }
}

.advantage--without-image {
  background-color: #eeeeee;
  color: #000000;
  width: 100%;
  margin: 0;
}
@media (min-width: 768px) {
  .advantage--without-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 52px 27px 52px 27px;
  }
}
@media (min-width: 1200px) {
  .advantage--without-image {
    padding: 63px 50px 41px 50px;
  }
}

.advantage--without-image-botomm {
  background-color: #eeeeee;
  color: #000000;
  width: 100%;
  margin: 0;
}
@media (min-width: 768px) {
  .advantage--without-image-botomm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 41px 33px 41px 33px;
  }
}
@media (min-width: 1200px) {
  .advantage--without-image-botomm {
    padding: 52px 50px 51px 50px;
  }
}

.advantages__wrap {
  display: flex;
}
@media (max-width: 767px) {
  .advantages__wrap {
    flex-direction: column-reverse;
  }
}
@media (min-width: 768px) {
  .advantages__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.advantages__item--flex {
  margin-top: -6px;
}
@media (min-width: 768px) {
  .advantages__item--flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -6px;
  }
}
@media (min-width: 1200px) {
  .advantages__item--flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.advantage__bridge {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #81b3d2;
  color: #ffffff;
  padding: 0 32px 20px 30px;
}
@media (min-width: 768px) {
  .advantage__bridge {
    background-image: url("/source/img/main-index/tablet-hause.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 52px 51px 14px 51px;
  }
}
@media (min-width: 1200px) {
  .advantage__bridge {
    padding: 52px 93px 35px 93px;
  }
}

.advantage__bridge-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.advantages__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.appointment {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  width: 100%;
}

.appointment__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appointment__wrapper {
  padding: 38px 15px 32px 15px;
}

.appointment__title {
  margin: 0;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 31px;
}
@media (min-width: 768px) {
  .appointment__title {
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 38px;
    padding-top: 20px;
  }
}

.appointment__description {
  margin: 0;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
.appointment__description .tablet {
  display: none;
}
@media (min-width: 768px) {
  .appointment__description .mobile {
    display: none;
  }
  .appointment__description .tablet {
    display: block;
  }
}

.appointment__button {
  padding: 16px 49px 16px 49px;
  background-color: #81b3d2;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
@media (min-width: 768px) {
  .appointment__button {
    padding: 15px 131px 17px 131px;
  }
}

.appointment__button:hover {
  background-color: #669ec0;
}

.appointment__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.appointment__button:disabled {
  background-color: #e5e5e5;
}

@media (min-width: 768px) {
  .checkbox {
    width: 648px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .checkbox {
    width: 960px;
    margin: auto;
  }
}

.checkbox__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 767px) {
  .checkbox__list {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0;
    padding: 0 20px 24px 40px;
    list-style-type: none;
    border-bottom: 1px solid #e5e5e5;
  }
}
@media (min-width: 768px) {
  .checkbox__list {
    display: grid;
    grid-template-columns: 235px 235px;
    width: 100%;
    padding-left: 114px;
  }
}
@media (min-width: 1200px) {
  .checkbox__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0;
    margin-left: 14px;
  }
}

.checkbox__title {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .checkbox__title {
    font-size: 21px;
    margin: 0;
    margin-top: 28px;
    margin-bottom: 28px;
  }
}
@media (min-width: 1200px) {
  .checkbox__title {
    margin-bottom: 28px;
  }
}

.checkbox__label {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

@media (min-width: 768px) {
  .checkbox__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 648px;
  }
}
@media (min-width: 1200px) {
  .checkbox__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 960px;
  }
}

@media (min-width: 768px) {
  .checkbox__left {
    margin: 0;
    margin-right: 60px;
    border-bottom: 1px solid #d8d8d8;
    padding-left: 123px;
  }
}
@media (min-width: 1200px) {
  .checkbox__left {
    margin: 0;
    margin-right: 60px;
    border-bottom: 1px solid #d8d8d8;
    padding-left: 280px;
  }
}

@media (min-width: 768px) {
  .checkbox__right {
    margin: 0;
    border-bottom: 1px solid #d8d8d8;
    padding-right: 123px;
    margin-left: 60px;
  }
}
@media (min-width: 1200px) {
  .checkbox__right {
    margin: 0;
    border-bottom: 1px solid #d8d8d8;
    padding-right: 280px;
    margin-left: 60px;
  }
}

.checkbox__item {
  margin-left: 50px;
  margin-bottom: 26px;
  margin-top: 20px;
}

.checkbox__item:nth-child(4) {
  margin-bottom: 10px;
}

.checkbox__form-label {
  position: relative;
  display: block;
  cursor: pointer;
}

.checkbox__mark {
  position: absolute;
  top: -10px;
  left: -70px;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 4px;
}
.checkbox__mark:hover {
  background-color: #e5e5e5;
}
.checkbox__mark:active {
  background-color: #d5d5d5;
}

.checkbox__field[type=checkbox]:checked + .checkbox__mark {
  background-image: url("/source/img/form/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.checkbox__field[type=checkbox]:checked + .checkbox__mark:active {
  background-image: url("/source/img/form/tick-active.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.contacts-info__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-info__title {
  margin: 0;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
  padding-top: 15px;
  padding-left: 30px;
}
@media (min-width: 768px) {
  .contacts-info__title {
    margin-left: -46px;
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .contacts-info__title {
    margin-left: 10px;
  }
}

.contacts-info__form-label {
  margin: 0;
  padding-left: 20px;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.contacts-info__field {
  margin-bottom: 16px;
  padding: 16px 0 16px 16px;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.3);
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: none;
}
@media (min-width: 1200px) {
  .contacts-info__field {
    width: 344px;
    padding-right: 0;
  }
}

.contacts-info__field::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.contacts-info__button {
  position: relative;
  margin-bottom: 16px;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

.contacts-info__telephone {
  position: absolute;
  top: 20px;
  left: 20px;
}

.contacts-info__email {
  position: absolute;
  top: 22px;
  left: 22px;
}

.contacts {
  margin: 0;
  padding: 29px 77px 33px 77px;
}
@media (min-width: 768px) {
  .contacts {
    padding: 0;
  }
}

.contacts__site {
  text-decoration: none;
}

.contacts__site-text {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.contacts__site-text:hover {
  color: #81b3d2;
}

.contacts__site-text:active {
  color: rgba(0, 0, 0, 0.3);
}

.copyright {
  margin: 0;
  padding: 0 0 22px 0;
}
@media (min-width: 768px) {
  .copyright {
    padding: 0;
    padding-right: 10px;
  }
}

.copyright__text {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.copyright__text:hover {
  color: #81b3d2;
}

.copyright__text:active {
  color: #b3b3b3;
}

.copyright__link {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-right: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.main-footer__logo-image {
  position: absolute;
  right: 0;
  color: #000000;
}

.main-footer__logo-image:hover {
  color: #81b3d2;
}

.main-footer__logo-image:active {
  color: #b3b3b3;
}

@media (min-width: 768px) {
  .describe {
    width: 648px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .describe {
    width: 960px;
    margin: auto;
  }
}

.describe__wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .describe__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 16px;
  }
}
@media (min-width: 1200px) {
  .describe__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 96px;
    width: 768px;
  }
}

.describe__form-grop {
  border: none;
}
@media (min-width: 1200px) {
  .describe__form-grop {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.describe__title {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .describe__title {
    font-size: 21px;
    margin: 0;
    margin-top: 42px;
    margin-bottom: 28px;
  }
}
@media (min-width: 1200px) {
  .describe__title {
    margin-bottom: 28px;
  }
}

.describe__form-label {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.describe__field {
  padding: 16px;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.3);
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: none;
  width: 235px;
  height: 150px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .describe__field {
    width: 616px;
    height: 160px;
  }
}
@media (min-width: 1200px) {
  .describe__field {
    width: 736px;
    height: 160px;
  }
}

.describe__button {
  padding: 16px 49px 16px 49px;
  background-color: #81b3d2;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

.describe__label {
  color: rgba(51, 51, 51, 0.6);
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  margin-left: 140px;
}
@media (min-width: 768px) {
  .describe__label {
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .describe__label {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .describe__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 648px;
  }
}
@media (min-width: 1200px) {
  .describe__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 960px;
  }
}

@media (min-width: 768px) {
  .describe__left {
    margin: 0;
    margin-right: 60px;
    margin-top: 17px;
    border-bottom: 1px solid #d8d8d8;
    padding-left: 123px;
  }
}
@media (min-width: 1200px) {
  .describe__left {
    margin: 0;
    margin-right: 60px;
    margin-top: 17px;
    border-bottom: 1px solid #d8d8d8;
    padding-left: 280px;
  }
}

@media (min-width: 768px) {
  .describe__right {
    margin: 0;
    border-bottom: 1px solid #d8d8d8;
    padding-right: 123px;
    margin-left: 60px;
    margin-top: 17px;
  }
}
@media (min-width: 1200px) {
  .describe__right {
    margin: 0;
    border-bottom: 1px solid #d8d8d8;
    padding-right: 280px;
    margin-left: 60px;
    margin-top: 17px;
  }
}

.feedback__title {
  margin: 0;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
  padding-left: 75px;
}
@media (min-width: 768px) {
  .feedback__title {
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .feedback__title {
    margin-left: 100px;
  }
}

.feedback__form-label {
  margin: 0;
  padding-left: 20px;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.feedback__field {
  margin-bottom: 16px;
  padding: 16px 55px 16px 16px;
  background-color: #f2f2f2;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: none;
}
@media (min-width: 1200px) {
  .feedback__field {
    width: 430px;
    padding-right: 0;
  }
}

.feedback__field:hover {
  background-color: #e5e5e5;
}

.feedback__field:active {
  background-color: #ffffff;
  border: 4px solid #e5e5e5;
}

.feedback__form {
  margin: 0;
  padding: 0;
}

.feedback__form-grop {
  margin: 0;
  padding: 0 10px 39px 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .feedback__form-grop {
    border: none;
    border-right: 1px solid #d8d8d8;
    padding-right: 43px;
    padding-bottom: 19px;
  }
}
@media (min-width: 1200px) {
  .feedback__form-grop {
    border: none;
    border-right: 1px solid #d8d8d8;
    padding-right: 63px;
    padding-bottom: 19px;
  }
}

.contacts-info__form-telephone {
  margin: 0;
  padding: 0 10px 39px 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .contacts-info__form-telephone {
    border: none;
    margin-top: -15px;
    margin-left: 36px;
  }
}
@media (min-width: 1200px) {
  .contacts-info__form-telephone {
    border: none;
    margin-left: 64px;
  }
}

@media (min-width: 768px) {
  .feedback__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .feedback__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .gallery {
    width: 648px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .gallery {
    width: 1200px;
    margin: auto;
  }
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.gallery__item {
  margin: 0;
  padding: 24px 20px 25px 20px;
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .gallery__item {
    margin: 0;
    padding: 0;
    border: none;
  }
}

.gallery__image {
  width: 100%;
}

@media (min-width: 768px) {
  .gallery__item--pull {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media (min-width: 1200px) {
  .gallery__item--pull {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.gallery__title {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .gallery__title {
    color: #ffffff;
  }
}

.gallery__description {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
@media (min-width: 1200px) {
  .gallery__description {
    color: #ffffff;
  }
}

.gallery__text {
  margin: 0;
  padding-left: 14px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .gallery__text {
    color: #ffffff;
  }
}

@media (min-width: 768px) {
  .gallery__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -7px;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1200px) {
  .gallery__wrap {
    margin-top: -85px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 768px) {
  .gallery__wrap--color {
    background-color: #eaeaea;
  }
}
@media (min-width: 1200px) {
  .gallery__wrap--color {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 768px) {
  .gallery__wrap-text {
    padding: 22px 0 15px 20px;
  }
}

.gallery__wrap-icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding-top: 11px;
}
@media (min-width: 768px) {
  .gallery__wrap-icon {
    padding: 28px 20px 20px 5px;
  }
}

.gallery__smile {
  margin-top: -10px;
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .gallery__smile {
    color: rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 1200px) {
  .gallery__smile {
    color: white;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero__title {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .hero__title {
    font-family: "PT Sans", sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    padding: 0 10px 35px 10px;
  }
  .hero__title .hero__title-br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .hero__title {
    font-family: "PT Sans", sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
  }
  .hero__title .hero__title-br {
    display: none;
  }
}

.hero__description {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .hero__description {
    font-family: "PT Sans", sans-serif;
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
  }
  .hero__description br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .hero__description {
    font-family: "PT Sans", sans-serif;
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
  }
}

.hero {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
}

.hero__image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 389px;
  z-index: 1;
}
@media (min-width: 768px) {
  .hero__image-wrapper {
    height: 518px;
  }
}

.hero__image {
  display: flex;
  width: 320px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .hero__image {
    width: 100%;
    height: 518px;
  }
}

.hero__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 16px 16px 18px;
  background-color: #ffffff;
  width: 100%;
}
@media (min-width: 768px) {
  .hero__wrapper {
    margin: 0;
    padding: 48px 124px 55px 124px;
  }
}
@media (min-width: 1200px) {
  .hero__wrapper {
    margin: 0;
    padding: 59px 345px 44px 345px;
  }
}

.main-catalog__title {
  margin: 0;
  padding-bottom: 35px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main-catalog__title {
    font-size: 30px;
  }
}

.main-catalog__description {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
.main-catalog__description .tablet {
  display: none;
}
@media (min-width: 768px) {
  .main-catalog__description .tablet {
    display: block;
  }
  .main-catalog__description .mobile {
    display: none;
  }
}

.main-catalog__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-catalog__image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.main-catalog__image {
  display: flex;
  width: 100%;
  object-fit: cover;
}

.main-catalog__wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 37px 10px 25px 10px;
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .main-catalog__wrap {
    border: none;
    padding: 66px 140px 67px 140px;
  }
}
@media (min-width: 1200px) {
  .main-catalog__wrap {
    padding: 100px 340px 65px 340px;
  }
}

.main-footer {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
}
@media (min-width: 768px) {
  .main-footer {
    padding-top: 30px;
    padding-bottom: 36px;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
@media (min-width: 1200px) {
  .main-footer__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

.main-header {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
}

.main-header__logo-image {
  position: absolute;
  top: 0;
  left: calc(50% - 93px);
  width: 185px;
  height: 96px;
}
@media (min-width: 768px) {
  .main-header__logo-image {
    position: relative;
  }
}
@media (min-width: 1200px) {
  .main-header__logo-image {
    position: relative;
  }
}

.main-header__logo--mobile {
  height: 96px;
  text-align: center;
}
@media (min-width: 768px) {
  .main-header__logo--mobile {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-header__logo--mobile {
    display: none;
  }
}

.main-inner__wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 36px 10px 33px 10px;
  width: 100%;
}
@media (min-width: 768px) {
  .main-inner__wrap {
    padding: 64px 150px 102px 150px;
  }
}
@media (min-width: 1200px) {
  .main-inner__wrap {
    padding: 115px 370px 67px 370px;
  }
}

.main-inner__title {
  margin: 0;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .main-inner__title {
    font-size: 30px;
  }
}

.main-inner__description {
  margin: 0;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
.main-inner__description .tablet {
  display: none;
}
@media (min-width: 768px) {
  .main-inner__description {
    text-align: center;
  }
  .main-inner__description .tablet {
    display: block;
  }
  .main-inner__description .mobile {
    display: none;
  }
}

.feedback {
  background-color: #ffffff;
}

.main-inner__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .main-inner__wrapper {
    border: none;
  }
}

.main-inner__image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.main-inner__image {
  display: flex;
  width: 100%;
  object-fit: cover;
}

.main-nav {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  height: 56px;
  z-index: 3;
}
@media (min-width: 768px) {
  .main-nav {
    background-color: #ffffff;
  }
}
@media (min-width: 1200px) {
  .main-nav {
    background-color: #ffffff;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 5px;
  right: -10px;
  z-index: 2;
  display: block;
  width: 70px;
  height: 51px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}
.main-nav__toggle:hover, .main-nav__toggle:active {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 20px;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: rgba(129, 179, 210, 0.6);
  box-shadow: 0 8px 0 0 rgba(129, 179, 210, 0.6), 0 16px 0 0 rgba(129, 179, 210, 0.6);
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(129, 179, 210, 0.3);
  box-shadow: 0 8px 0 0 rgba(129, 179, 210, 0.3), 0 16px 0 0 rgba(129, 179, 210, 0.3);
}

.main-nav--opened .main-nav__toggle {
  top: 5px;
  right: 0;
  background-color: #81b3d2;
}
.main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 22px;
  left: 20px;
  width: 28px;
  height: 3px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:hover::before, .main-nav--opened .main-nav__toggle:hover::after {
  background-color: rgba(255, 255, 255, 0.6);
}
.main-nav--opened .main-nav__toggle:active::before, .main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 768px) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1128px;
    margin: 0 auto;
  }
}

.map {
  margin-top: 49px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.map__image {
  width: 100%;
  display: block;
}

.page {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 26px;
}

.page__body {
  margin: 0;
  min-height: 100%;
  background-color: #ffffff;
  color: #000000;
}

@media (min-width: 1200px) {
  .page__body-layout {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 768px) {
  .radio {
    width: 648px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .radio {
    width: 960px;
    margin: auto;
  }
}

@media (max-width: 767px) {
  .radio__list {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0;
    padding: 0 20px 24px 40px;
    list-style-type: none;
    border-bottom: 1px solid #e5e5e5;
  }
}
@media (min-width: 768px) {
  .radio__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 18px 70px 28px 70px;
    list-style-type: none;
    border: none;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .radio__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 18px 80px 28px 80px;
    list-style-type: none;
    border: none;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .radio__form-label--left {
    margin-left: -25px;
  }
}
@media (min-width: 1200px) {
  .radio__form-label--left {
    margin: 0;
  }
}

.radio__title {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .radio__title {
    font-size: 21px;
    margin: 0;
    margin-top: 48px;
  }
}
@media (min-width: 1200px) {
  .radio__title {
    margin-bottom: 28px;
  }
}

.radio__field {
  margin-bottom: 16px;
}

.radio__label {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

@media (min-width: 768px) {
  .radio__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 648px;
  }
}
@media (min-width: 1200px) {
  .radio__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 960px;
  }
}

@media (min-width: 768px) {
  .radio__left {
    margin: 0;
    margin-right: 60px;
    margin-top: 45px;
    border-bottom: 1px solid #d8d8d8;
    padding-left: 123px;
  }
}
@media (min-width: 1200px) {
  .radio__left {
    margin: 0;
    margin-right: 60px;
    margin-top: 17px;
    border-bottom: 1px solid #d8d8d8;
    padding-left: 280px;
  }
}

@media (min-width: 768px) {
  .radio__right {
    margin: 0;
    border-bottom: 1px solid #d8d8d8;
    padding-right: 123px;
    margin-left: 60px;
    margin-top: 45px;
  }
}
@media (min-width: 1200px) {
  .radio__right {
    margin: 0;
    border-bottom: 1px solid #d8d8d8;
    padding-right: 280px;
    margin-left: 60px;
    margin-top: 17px;
  }
}

.radio__item {
  margin-left: 50px;
  margin-bottom: 26px;
  margin-top: 20px;
}

.radio__item:nth-child(3) {
  margin-bottom: 0;
}

.radio__form-label {
  position: relative;
  display: block;
  cursor: pointer;
}

.radio__mark {
  position: absolute;
  bottom: -10px;
  left: -70px;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 50%;
}
.radio__mark:hover {
  background-color: #e5e5e5;
}
.radio__mark:active {
  background-color: #d5d5d5;
}

.radio__field[type=radio]:checked + .radio__mark {
  background-image: url("/source/img/form/radio.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.radio__field[type=radio]:checked + .radio__mark:active {
  background-image: url("/source/img/form/radio-active.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 730px;
    height: 56px;
    margin-left: 48px;
    flex-grow: 1;
  }
}
@media (min-width: 1200px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 1050px;
    height: 56px;
    margin-left: 91px;
  }
}

.site-list__link {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .site-list__link {
    font-family: "PT Sans", sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .site-list__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 56px;
    margin-right: 27px;
  }
}
@media (min-width: 1200px) {
  .site-list__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 56px;
    margin-right: 71px;
  }
}

@media (max-width: 767px) {
  .main-header__logo--tablet {
    display: none;
  }
}

@media (max-width: 767px) {
  .site-list__link {
    position: relative;
    display: block;
    padding: 17px 0 12px 0;
    background-color: #81b3d2;
    font-family: "PT Sans", sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  }

  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .user-list__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
    padding-right: 21px;
    padding-left: 21px;
  }
}
@media (min-width: 768px) {
  .site-list__link--active {
    color: #766357;
  }
}

.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .social__list {
    margin-bottom: 0;
  }
}

.social__item {
  margin-right: 6px;
  width: 48px;
  height: 48px;
}

.social__link {
  position: relative;
  margin: 0;
  color: #000000;
  background-color: #81b3d2;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 7px 24px 24px 24px;
}

.social__link:hover {
  background-color: #669ec0;
}

.social__link:active {
  background-color: #5496bd;
}

.social__link-vkontakte {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.social__link-vkontakte:active {
  opacity: 0.3;
}

.social__link-telegram {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.social__link-telegram:active {
  opacity: 0.3;
}

.social__link-youtube {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.social__link-youtube:active {
  opacity: 0.3;
}

.video-gallery__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 17px 0 38px 0;
}
@media (min-width: 768px) {
  .video-gallery__wrapper {
    padding: 62px 0 70px 0;
  }
}
@media (min-width: 1200px) {
  .video-gallery__wrapper {
    padding: 62px 0 65px 0;
  }
}

.video-gallery__title {
  margin: 0;
  padding-bottom: 39px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .video-gallery__title {
    font-size: 30px;
  }
}

.video-gallery__description {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
.video-gallery__description .tablet {
  display: none;
}
@media (min-width: 768px) {
  .video-gallery__description .tablet {
    display: block;
  }
  .video-gallery__description .mobile {
    display: none;
  }
}

.video-gallery__wrap-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.video-gallery__image {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */