@import "./fonts.scss";
@import "./blocks/viewports.scss";
@import "./blocks/advantages.scss";
@import "./blocks/advantage.scss";
@import "./blocks/appointment.scss";
@import "./blocks/checkbox.scss";
@import "./blocks/contacts-info.scss";
@import "./blocks/contacts.scss";
@import "./blocks/copyright.scss";
@import "./blocks/describe.scss";
@import "./blocks/feedback.scss";
@import "./blocks/gallery.scss";
@import "./blocks/global.scss";
@import "./blocks/hero.scss";
@import "./blocks/main-catalog.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/main-header.scss";
@import "./blocks/main-inner.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/map.scss";
@import "./blocks/modal-container.scss";
@import "./blocks/page.scss";
@import "./blocks/radio.scss";
@import "./blocks/site-list.scss";
@import "./blocks/social.scss";
@import "./blocks/video-gallery.scss";
